.bord {
  border-bottom: 2px solid #941519;
}

h2 {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.login {
  margin-right: 13%;
}
i {
  margin: 5px;
}