.container {
  max-width: 960px;
}
.table-responsive {
  overflow-x: hidden !important;
}

.respostas {
  font-weight: normal;
}

@media (max-width: 600px) {
  strong {
    border-right: 1px solid #ececec;
    margin: 10px 0;
  }
  span {
    padding-left: 10px;
  }
  .respostas {
    font-weight: normal;
    padding: 0;
}
}
